@import "variable";
@import "breakpoints";



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.p-text{
  font-family: "Prompt", sans-serif !important;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #152E1F;
  @include media-breakpoint-up(lg) {
    font-size: 24px;
    line-height: 36px;

  }
}

h2{
  font-family: "Prompt", sans-serif !important;
  font-weight: bold;

  font-size: 22px;
  line-height: 26px;
  color: #0A4626;
  text-align: center;
  @include media-breakpoint-up(lg) {
      text-align: left;
      font-size: 40px;
      line-height: 42px;
  }
}


.slick-list {
  @media (max-width: 768px) {
   margin: 0 !important;
  }
}

.productSlider .slick-list {
  overflow: visible !important;
}
.slick-slide > div {

  @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      padding: 0;

  }
}



:root {
  --tooltip-text-color: #152E1F;
  --tooltip-background-color: white;
  --tooltip-margin: 40px;
  --tooltip-arrow-size: 6px;
}

/* Wrapping */
.Tooltip-Wrapper {
  display: inline-block;
  position: relative;
}


// @media only screen and (max-width: 768px) {
//   .Tooltip-Wrapper {
//     display: none;
//   }
// }

/* Absolute positioning */
.Tooltip-Tip {
  position: absolute;
  box-shadow: -1.5px 4px 35px rgba(0, 0, 0, 0.15);
  width: 250px;
  border-radius: 12px;
  left: 50%;
  transform: translateY(-50%);
  padding: 16px 13px;
  opacity: 0.8;
  color: var(--tooltip-text-color);
  background: var(--tooltip-background-color);
  font-size: 12px;
  line-height: 18px;
  z-index: 100;
  white-space: wrap;
}

/* CSS border triangles */
.Tooltip-Tip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(-1 * var(--tooltip-arrow-size));
}

/* Absolute positioning */
.Tooltip-Tip.top {
  top: calc(-1 * var(--tooltip-margin));
}
/* CSS border triangles */
.Tooltip-Tip.top::before {
  top: 100%;
  border-top-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.Tooltip-Tip.right {
  left: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.Tooltip-Tip.right::before {
  left: calc(-1 * var(--tooltip-arrow-size));
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: var(--tooltip-background-color);
}


/* Absolute positioning */
.Tooltip-Tip.bottom {
  bottom: calc(-1 * var(--tooltip-margin));
}
/* CSS border triangles */
.Tooltip-Tip.bottom::before {
  bottom: 100%;
  border-bottom-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.Tooltip-Tip.left {
  left: auto;
  right: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.Tooltip-Tip.left::before {
  left: auto;
  right: calc(-2 * var(--tooltip-arrow-size));
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: var(--tooltip-background-color);
}

